// Theme Colors
$primary: #f9bb34;
$secondary: #68a51b;
$body_bg: #f5f8f2;
$primary2: #3d6781;
$secondary2: #edab61;
$dark: #232c3b;
$darker: #172029;
$gray: #23262d;

$secondary-gradient-right: linear-gradient(to right, $secondary, $secondary2);
$secondary-gradient-left: linear-gradient(to left, $secondary, $secondary2);
$secondary-gradient-top: linear-gradient(to top, $secondary, $secondary2);
$primary-gradient-right: linear-gradient(to right, $primary2, $primary);
$primary-gradient-left: linear-gradient(to left, $primary2, $primary);
$diabled-gradient-left: linear-gradient(to left, $primary, $primary2);
