<footer class="px-5 py-3">
  <div class="row w-100 mx-0">
    <div class="col-md-7 m-auto">
      <p class="text-center">
        لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو
        أيوسمود تيمبور أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم
        أد مينيم فينايم,كيواس نوستريد أكسير سيتاشن يللأمكو لابورأس نيسي يت
        أليكيوب أكس أيا
      </p>
      <div class="row mx-0 w-100 align-items-center justify-content-between">
        <div class="col-md-6">
          <div class="d-flex align-items-center">
            <h6 class="font-weight-bold ml-2 mb-0">تليفون:</h6>
            <span>01117075586 035766184</span>
          </div>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
          <div class="d-flex align-items-center">
            <h6 class="font-weight-bold ml-2 mb-0">الايميل:</h6>
            <span>simple12@google.com</span>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center mt-4 justify-content-center">
        <a
          href="www.facebook.com"
          target="_blank"
          class="social-link bg-white google-f mx-2"
        >
          <i class="text-white fab fa-google-plus-g"></i>
        </a>

        <a
          href="www.facebook.com"
          target="_blank"
          class="social-link bg-white twitter-f mx-2"
        >
          <i class="text-white fab fa-twitter"></i>
        </a>
        <a
          href="www.facebook.com"
          target="_blank"
          class="social-link bg-white facebook-f mx-2"
        >
          <i class="text-white fab fa-facebook-f"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
<div class="copy py-3 px-5 text-center text-white">
  2021 &copy; Travelzad All Rights Reserved
</div>
